FLASK_SECRET_KEY=changeKeyHeere
TELEGRAM_CHAT_ID=-xchatIDx
TELEGRAM_MESSAGE_THREAD_ID=
BASIC_AUTH_FORCE=True
BASIC_AUTH_USERNAME=XXXUSERNAME
BASIC_AUTH_PASSWORD=XXXPASSWORD
TELEGRAM_BOT_TOKEN=botToken
